@theme inline {
    --color-gray-main: #e5e7eb;
    --color-main: #1f2937;
    --color-mail-light: #374151;
    --color-sub-text: #6b7280;
    --color-dark: #1a1a1a;

    --color-success: #10b981;
    --color-success-light: #dcfce7;
    --color-danger: #dc6b74;
    --color-warning: #d89a5b;
}
